# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS metadata
.DS_Store

# Temporary files
*.tmp
*.log
temp_frame.jpg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Database JSON files
employees.json
attendance.json

# Face image database directory
face_db/

# IDE settings (optional)
.vscode/
.idea/ 